<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Sign In</title>
</head>
<body>
    <form action="#" th:action="@{/adminPanel}" th:object="${admin}" method="post">
        <label for="email">E-mail</label>
        <br>
        <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br>

        <label for="password">Password</label>
        <br>
        <input type="text" th:field="*{password}" id="password" placeholder="Password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <br>

        <input type="submit" value="Sign In">   
    </form>
</body>
</html>