<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Terminarz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/panels.css}">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/panel">ZnajdzLekarza</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/panel/scheduler">Terminarz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/panel/doctor-settings">Ustawienia konta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout">Wyloguj</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col-sm-5">
                <form action="#" th:action="@{/addAppointment}" th:object="${appointment}" method="post" class="rounded border border-info p-4 m-5">
                    <h3>Dodaj wizytę</h3>
                    <div class="form-group">
                        <label for="start-date-time">Od kiedy:</label>
                        <input type="datetime-local" th:field="*{startDateTime}" class="form-control"
                            id="start-date-time">
                    </div>
                    <div class="form-group">
                        <label for="end-date-time">Do kiedy:</label>
                        <input type="datetime-local" th:field="*{endDateTime}" class="form-control" id="end-date-time">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Potwierdź</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-3">
            <div class="col" style="overflow-x: auto;width: 100px;">
                <table class="table table-bordered">
                    <tbody id="appointments">
                        <tr th:each="appointment : ${doctorAppointments}">
                            <td 
                                th:utext="${appointment.dayOfTheWeek + ', ' + #dates.format(appointment.startDateTime,'dd.MM.yyyy')}">
                            </td>
                            <td>
                                <button class="btn btn-primary"
                                        th:text="${#dates.format(appointment.startDateTime,'HH:mm') + ' - ' + #dates.format(appointment.endDateTime,'HH:mm')}">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/script.js}"></script>

</html>