<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panels.css}">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/panel">ZnajdzLekarza</a>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/panel/scheduler">Terminarz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/panel/doctor-settings">Ustawienia konta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout">Wyloguj</a>
            </li>
        </ul>
    </nav>
    <div id="elo" class="container rounded border border-info p-4 mt-5" th:if="${todayVisits != null && todayVisits.size() > 0}">
        <table class="table table-bordered">
            <h2 class="text-center pb-2">Dzisiejsze wizyty</h2>
            <thead>
            <tr>
                <th scope="col">Start wizyty</th>
                <th scope="col">Koniec wizyty</th>
                <th scope="col">Pacjent</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="visits : ${todayVisits}">
                <td th:text="${#dates.format(visits.startDateTime,'dd.MM.yyyy, HH:mm')}"></td>
                <td th:text="${#dates.format(visits.endDateTime,'dd.MM.yyyy, HH:mm')}"></td>
                <td th:if="${visits.patient == null}" th:text="${'Brak'}"></td>
                <td th:if="${visits.patient != null}" th:text="${visits.patient.firstName + ' ' + visits.patient.lastName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>