<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panels.css}">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/panel">ZnajdzLekarza</a>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/panel/patient-scheduler">Moje wizyty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/panel/patient-settings">Ustawienia konta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout">Wyloguj</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <form action="#" th:object="${searchDoctor}" th:action="@{/panel/0}" method="post"
            class="rounded border border-info p-4 m-5">
            <div class="form-group">
                <label for="specialization">Imię doktora:</label>
                <input type="text" th:field="*{doctorFirstName}" class="form-control" id="specialization"
                    placeholder="Wpisz imię doktora" />
            </div>
            <div class="form-group">
                <label for="currentHospital">Nazwisko doktora:</label>
                <input type="text" th:field="*{doctorLastName}" class="form-control" id="currentHospital"
                    placeholder="Wpisz nazwisko doktora" />
            </div>
            <div class="form-group">
                <label for="city">Miejscowość doktora:</label>
                <input type="text" th:field="*{city}" class="form-control" id="city"
                    placeholder="Wpisz miejscowość doktora" />
            </div>
            <button type="submit" value="Submit" class="btn btn-primary">Wyszukaj</button>

        </form>
    </div>
    <div class="container" th:if="${AppointmentsWithDoctor}">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Start wizyty</th>
                    <th scope="col">Koniec wizyty</th>
                    <th scope="col">Dzień tygodnia</th>
                    <th scope="col">Imię i nazwisko doktora</th>
                    <th scope="col">Specjalizacja</th>
                    <th scope="col">Miasto</th>
                    <th scope="col">Szpital</th>
                    <th scope="col">Zapisz</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="appointment : ${AppointmentsWithDoctor}">
                    <td th:text="${#dates.format(appointment.startDateTime,'dd.MM.yyyy, HH:mm')}"></td>
                    <td th:text="${#dates.format(appointment.endDateTime,'dd.MM.yyyy, HH:mm')}"></td>
                    <td th:text="${appointment.dayOfTheWeek}"></td>
                    <td th:text="${appointment.doctor.firstName + ' ' + appointment.doctor.lastName}"></td>
                    <td th:text="${appointment.doctor.specialization}"></td>
                    <td th:text="${appointment.doctor.city}"></td>
                    <td th:text="${appointment.doctor.currentHospital}"></td>
                    <td><a href="test"><button type="button" class="btn btn-primary"
                                th:disabled="${appointment.patient != null}">Zapisz</button></a></td>
                </tr>
            </tbody>
        </table>

        <form class="mr-2" th:if="${currentPage < (totalPages - 1)}" action="#" th:object="${searchDoctor}"
            th:action="@{'/panel/' + ${currentPage + 1}}" method="post">
            <button type="submit" value="Submit" class="float-left btn btn-primary">Następna</button>
        </form>
        <form th:if="${currentPage > 0}" action="#" th:object="${searchDoctor}"
            th:action="@{'/panel/' + ${currentPage - 1}}" method="post">
            <button type="submit" value="Submit" class="float-right btn btn-primary">Poprzednia</button>
        </form>

    </div>
</body>

</html>