<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
    <form action="#" th:action="@{/panel}" th:object="${login}" method="post">
        <label for="email">E-mail</label>
        <br>
        <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br>

        <label for="password">Password</label>
        <br>
        <input type="password" th:field="*{password}" id="password" placeholder="Password">
        <br>

        <input type="submit" value="Sign In">
        <br>
        
        <ul th:each="error: ${#fields.errors('password')}">
            <li th:each="message : ${error.split(',')}">
                <p th:text="${message}"></p>
            </li>
        </ul> 
    </form>
</body>
</html>